.order {
    width: 400px;
    height: 60px;
    border-color: black;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
}

.bottom-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    margin: 20px 0;
    border: none;
    background-color: rgb(147, 236, 147);
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
}

h3 {
    text-align: center;
}

.items {
    margin-left: 20px;
    font-weight: 700;
}

.cost {
    margin-right: 20px;
}

.orders button.selected {
    background-color: rgb(147, 236, 147);
}

.inner-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}